/AutoKeyCombin/AutoKeyCombin/obj/Debug/AutoKeyCombin.csproj.GenerateResource.Cache
/AutoKeyCombin/AutoKeyCombin/obj/Debug/AutoKeyCombin.csprojResolveAssemblyReference.cache
/AutoKeyCombin/AutoKeyCombin/obj/Debug/CoreCompileInputs.cache
/AutoKeyCombin/AutoKeyCombin/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/AutoKeyCombin/AutoKeyCombin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AutoKeyCombin/AutoKeyCombin/bin/Debug/AutoKeyCombin.pdb
/AutoKeyCombin/AutoKeyCombin/obj/Debug/AutoKeyCombin.pdb
/AutoKeyCombin/AutoKeyCombin/obj/Debug/AutoKeyCombin.Form1.resources
/AutoKeyCombin/AutoKeyCombin/obj/Debug/AutoKeyCombin.Properties.Resources.resources
